.fundo-barra{
   background-color: aliceblue;
   height: 500px;
   width: 100%; 
}
.barrinha{
    background-color: bisque;
    height: 30px;
    width: 100%;
    margin: 0% auto;
    padding: 1px;
}
.imagem-logo{
    width: 100px;
    height: 100px;
    background-color: coral;
    position: relative;
    left: 250px;
    top: 40%;
}
.btn{
    position: relative;
    top: 10px;
    left: 90%;
    bottom: 0px;
}