

.titulo-vitrine{
    font-size: 50px;
    padding-right: 20%; 
    margin: 60px 120px 100px 20px;
}
.p-baixo{
    color: white;
}
.p-assets{
    padding: 0 30%; 
}
.titulo-baixo{
    color: white;
}
.img-containerbaixo{
    height: 150px;
    width: 140px;
}
.bg-baixo{
    width: 865px;
    margin-top: -0px;
    box-sizing: border-box;
}